<h2 mat-dialog-title>Top 5 Most Mentioned Names {{yearAndMonth}}</h2>
<mat-dialog-content class="mat-typography">
<ol>
<li *ngFor="let nameOccurences of arrNameOccurences">
  <p>
  <span *ngIf="nameOccurences.wikiUrl">
    <a target="_blank" [href]="nameOccurences.wikiUrl">{{nameOccurences.normalizedName}}</a> : {{nameOccurences.occurrences}}
  </span>
  <span *ngIf="!nameOccurences.wikiUrl">
    {{nameOccurences.normalizedName}} : {{nameOccurences.occurrences}}
  </span>
  </p>
</li>
</ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
